/* Register Page Specific Styling */
#avatar-preview-container {
    transition: border-color var(--transition-fast), transform 0.1s;
}

#avatar-preview-container:active {
    transform: scale(0.95);
    border-color: var(--md-sys-color-primary);
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form .btn-filled {
    margin-top: 16px;
}
